jh-identitymanagement/temp/JES_IMS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" xmlns="http://jackhenry.com/jxchange/JES/2008" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/JES/2008" version="2022.1.00" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
  <xsd:import schemaLocation="w3-xenc-schema.xsd" namespace="http://www.w3.org/2001/04/xmlenc#" />
  <xsd:import schemaLocation="w3-xmldsig-core-schema.xsd" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xsd:group name="Main_IMS">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Jack Henry Enterprise Identity Management System
                    Messages</xsd:documentation>
      </xsd:annotation>
      <xsd:element ref="FaultMsg" />
      <xsd:element ref="Ping" />
      <xsd:element ref="PingResponse" />
      <xsd:element ref="AliasAdd" />
      <xsd:element ref="AliasAddResponse" />
      <xsd:element ref="AliasMod" />
      <xsd:element ref="AliasModResponse" />
      <xsd:element ref="PswdChng" />
      <xsd:element ref="PswdChngResponse" />
      <xsd:element ref="DigCertifReplace" />
      <xsd:element ref="DigCertifReplaceResponse" />
      <xsd:element ref="UsrSrch" />
      <xsd:element ref="UsrSrchResponse" />
      <xsd:element ref="UsrInq" />
      <xsd:element ref="UsrInqResponse" />
      <xsd:element ref="GroupMbrInq" />
      <xsd:element ref="GroupMbrInqResponse" />
      <xsd:element ref="UsrMultiInq" />
      <xsd:element ref="UsrMultiInqResponse" />
      <xsd:element ref="KerberosTokenInq" />
      <xsd:element ref="KerberosTokenInqResponse" />
      <xsd:element ref="UsrPswd_Ref" />
      <xsd:element ref="UsrCred_Ref" />
      <xsd:element ref="AliasClaimArray_Ref" />
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="FaultMsg" type="JESHdrFault_MType" />
  <xsd:complexType name="JESHdrFault_MType">
    <xsd:sequence>
      <xsd:element name="JESFaultHdr" nillable="true" type="JESFaultHdr_CType" />
      <xsd:element minOccurs="0" name="FaultRecInfoArray" nillable="true" type="FaultRecInfoArray_AType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JESFaultHdr_CType">
    <xsd:annotation>
      <xsd:documentation>Jack Henry Enterprise headers for fault messages</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AuditUsrId" type="FaultAuditUsrId_Type" />
      <xsd:element name="AuditWsId" type="FaultAuditWsId_Type" />
      <xsd:element name="ConsumerProd" type="FaultConsumerProd_Type">
        <xsd:annotation>
          <xsd:documentation>
            <Jx>
              <CanonicalVal>Experience,jxchange,Episys
                                Explorer,4Sight,Synergy</CanonicalVal>
            </Jx>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsumerRqDtTime" type="FaultConsumerRqDtTime_Type" />
      <xsd:element minOccurs="0" name="jXLogTrackingId" type="FaultjXLogTrackingId_Type" />
      <xsd:element minOccurs="0" name="BusCorrelId" type="BusCorrelId_Type" />
      <xsd:element minOccurs="0" name="WorkflowCorrelId" type="WorkflowCorrelId_Type" />
      <xsd:element minOccurs="0" name="OrigConsumerInfo" type="OrigConsumerInfo_CType">
        <xsd:annotation>
          <xsd:documentation> The OrigConsumerInfo could be used when a JES call is being made on behalf of a user that was 
                        beyond the calling application.  The identity of the user and/or the IP address 
                        of that distant machine could be sent through as an indicator of the origin of the message.  
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ValidConsmName" type="ValidConsmName_Type" />
      <xsd:element minOccurs="0" name="ValidConsmProd" type="ValidConsmProd_Type" />
      <xsd:element minOccurs="0" name="InstRtId" type="InstRtId_Type" />
      <xsd:element minOccurs="0" name="InstEnv" type="InstEnv_Type" />
      <xsd:element minOccurs="0" name="AuthenUsrCred" type="AuthenUsrCred_CType" />
      <xsd:element minOccurs="0" name="AuthenProdCred" type="AuthenProdCred_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultAuditUsrId_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>This is the User Id which the consumer would like written to the audit
                        as performing the requested service. It will vary but could be down to the
                        user id. It will not be use to authenticate however just audit for Soap
                        Header Fault .</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultAuditWsId_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>This is the WorkStation Id which the consumer would like written to
                        the audit as performing the requested service for Soap Header Fault . It
                        will vary but could be down to the user id.</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultConsumerProd_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The name of the product which is consuming the service (Business
                        Product Name) for Soap Header Fault</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultConsumerRqDtTime_Type">
    <xsd:annotation>
      <xsd:documentation>A date/time stamp that the message request was made for Soap Fault
                Header</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultjXLogTrackingId_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>An identification provided by jXchange to be able to trace the request
                        and response of a message from the third party gateway, internal gateway,
                        and service provider for Soap Header Fault</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="BusCorrelId_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The correlation identification as related to business functions and
                        activities</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="WorkflowCorrelId_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The correlation identification as related to workflow functions and
                        activities</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OrigConsumerInfo_CType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AuthenUsrCred" type="AuthenUsrCred_CType">
        <xsd:annotation>
          <xsd:documentation>When being utilized for proxy forwarding the IMS security
                        token should be used and not the User name and Password</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MachNameIPAddr" type="MachNameIPAddr_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuthenUsrCred_CType">
    <xsd:annotation>
      <xsd:documentation>Authentication of the end User Credentials in the form of a WS
                Security Element that contains a single SAML V2.0 Assertion.
                http://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="wsse:Security" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MachNameIPAddr_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies the machine name used with current channel
                which may be the DNS name of the computer or IP Address.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ValidConsmName_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The consumer name that can be validated by Enterprise goverance. The
                        canonical values are managed in an consumer/product Enterprise
                        table</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ClosedEnum_Type" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ClosedEnum_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Defines a string type which is Enum and has set values
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="ValidConsmProd_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The consumer product name that can be validated by Enterprise
                        goverance. The canonical values are managed in an consumer/product
                        Enterprise table</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ClosedEnum_Type" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="InstRtId_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The identification of the entity of submitted message. A financial
                        institution entity will utilize the routing transit or ABA nine (9) digit
                        number assigned to financial institutions for the purpose of routing as
                        assigned by the American Bankers Association. Any leading zeros must be
                        provided for a complete routing and transit number. A non-financial
                        institution entity will use a mutually agreed upon identification that must
                        contain at least one non-integer character. When a record is directed to a
                        specific Financial Institution within a holding company, the institution
                        routing identification is the specific Financial Institution routing
                        identification and not the holding company identification. </ElemDesc>
          <CanonicalVal>JHA</CanonicalVal>
        </Jx>
        <CoreDirector>
          <ElemRules>Required on all message requests</ElemRules>
        </CoreDirector>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
        <xsd:attribute name="Rstr" type="Rstr_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="JHANull_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The nillable element used as an attribute for elements. JHANull=true
                        will convey to service providers to null the matching field to element to
                        null.</ElemDesc>
          <CanonicalVal>true,false</CanonicalVal>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ClosedEnum_Type" />
  </xsd:simpleType>
  <xsd:simpleType name="Rstr_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Describes the level of restrictions that can exist at a parent and/or
                        child node</ElemDesc>
          <ElemDefault>ReadWrite</ElemDefault>
          <CanonicalVal>NoAccess,NoAccessPart,ReadWrite,ReadWritePart,ReadOnly,ReadOnlyPart,Hid</CanonicalVal>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ClosedEnum_Type" />
  </xsd:simpleType>
  <xsd:complexType name="InstEnv_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>An identification provided by the consumer that defines the
                        environment in which the institution is operating.</ElemDesc>
          <CanonicalVal>PROD</CanonicalVal>
          <ElemUsage>This is the Environment in which the Institution is operating.
                        Example: [ PROD, TEST, AUDIT, SYM001, SYM101, ... ] The absence of this
                        element will equate to "PROD" = Production Environment. It will be the
                        responsibility of the sender to send the appropriate data to identify the
                        environment if necessary.</ElemUsage>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="OpenEnum_Type" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="OpenEnum_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Defines a string type which is Enum but is Bank defined
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="AuthenProdCred_CType">
    <xsd:annotation>
      <xsd:documentation>Authentication of the Consumer Product Credentials in the form of a
                WS Security Element that contains a single SAML V2.0 Assertion.
                http://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="wsse:Security" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultRecInfoArray_AType">
    <xsd:annotation>
      <xsd:documentation>Array of messages that can be returned in a fault message
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="FaultMsgRec" type="FaultMsgRec_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultMsgRec_CType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Message Record includes the Error responses for the
                soap envelope - can occur multiple times</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ErrCode" type="FaultErrCode_Type" />
      <xsd:element name="ErrCat" type="FaultErrCat_Type" />
      <xsd:element name="ErrDesc" type="FaultErrDesc_Type" />
      <xsd:element minOccurs="0" name="ErrElem" type="FaultErrElem_Type" />
      <xsd:element minOccurs="0" name="ErrElemVal" type="FaultErrElemVal_Type" />
      <xsd:element minOccurs="0" name="ErrLoc" type="FaultErrLoc_Type" />
      <xsd:sequence minOccurs="0">
        <xsd:element name="Ver_1" type="FaultVer_1_CType" />
        <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="lax" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultErrCode_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Soap Header Fault Error Code</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultErrCat_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Soap Header Fault Error Catagory</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultErrDesc_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Soap Header Fault Error Description</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultErrElem_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Soap Header Fault when an Error or Fault occurs this optional element
                        will contain the element which is causing the error condition</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultErrElemVal_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Soap Header Fault when an Error or Fault occurs this optional element
                        will contain the value of the element which is causing the error
                        condition</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultErrLoc_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Soap Header Fault Error Location - This is typically the program that
                        generated the error condition</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FaultVer_1_CType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The object tag that represents the first iteration of
                the object for Soap Fault Header</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:element name="Ping" type="PingRq_MType" />
  <xsd:complexType name="PingRq_MType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">This is a common Ping request for checking, testing,
                and keep alive</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PingRq" type="PingRq_Type" />
      <xsd:sequence minOccurs="0">
        <xsd:element name="Ver_1" type="Ver_1_CType" />
        <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="lax" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PingRq_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Generic Text for the ping request</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Ver_1_CType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The object tag that represents the first iteration of
                the object</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:element name="PingResponse" type="PingRs_MType" />
  <xsd:complexType name="PingRs_MType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">This is a common Ping response which should echo back
                the string that was sent in the PingRq</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PingRs" type="PingRs_Type" />
      <xsd:sequence minOccurs="0">
        <xsd:element name="Ver_1" type="Ver_1_CType" />
        <xsd:element minOccurs="0" name="SvcProdVer" type="ProdVer_Type" />
        <xsd:sequence minOccurs="0">
          <xsd:element name="Ver_2" type="Ver_2_CType" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="lax" />
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PingRs_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">String echoed back from the PingRq. The element value
                will contain Error when the Ping request to a service provider is not successful <Jx><CanonicalVal>Error</CanonicalVal></Jx></xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="OpenEnum_Type" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ProdVer_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Release version of product</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
        <xsd:attribute name="Rstr" type="Rstr_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Ver_2_CType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The object tag that represents the second iteration of
                the object</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:element name="AliasAdd" type="AliasAddRq_MType" />
  <xsd:complexType name="AliasAddRq_MType">
    <xsd:annotation>
      <xsd:documentation>[APP to EXPSSO] Add Alias Request: An alias is to be linked with a
                product and CURRENT user.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESMsgRqHdr" type="JESMsgRqHdr_CType" />
      <xsd:element name="IMSSubj" type="IMSSubj_Type" />
      <xsd:element name="AliasClaimRec" type="AliasClaimRec_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JESMsgRqHdr_CType">
    <xsd:annotation>
      <xsd:documentation>Default message request headers for JHA enterprise
                services</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESHdr" type="JESHdr_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JESHdr_CType">
    <xsd:annotation>
      <xsd:documentation>Jack Henry Enterprise headers for tracking</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AuditUsrId" type="AuditUsrId_Type" />
      <xsd:element name="AuditWsId" type="AuditWsId_Type" />
      <xsd:element name="ConsumerProd" type="ConsumerProd_Type">
        <xsd:annotation>
          <xsd:documentation>
            <Jx>
              <CanonicalVal>Experience,jxchange,Episys
                                Explorer,4Sight,Synergy,Streamline,Argo,OnBoard,iTalk</CanonicalVal>
            </Jx>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsumerRqDtTime" type="ConsumerRqDtTime_Type" />
      <xsd:element minOccurs="0" name="jXLogTrackingId" type="jXLogTrackingId_Type" />
      <xsd:element minOccurs="0" name="BusCorrelId" type="BusCorrelId_Type" />
      <xsd:element minOccurs="0" name="WorkflowCorrelId" type="WorkflowCorrelId_Type" />
      <xsd:element minOccurs="0" name="OrigConsumerInfo" type="OrigConsumerInfo_CType">
        <xsd:annotation>
          <xsd:documentation> The OrigConsumerInfo could be used when a JES call is being made on behalf of a user that was 
                        beyond the calling application.  The identity of the user and/or the IP address 
                        of that distant machine could be sent through as an indicator of the origin of the message.  
                      </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ValidConsmName" type="ValidConsmName_Type" />
      <xsd:element minOccurs="0" name="ValidConsmProd" type="ValidConsmProd_Type" />
      <xsd:element minOccurs="0" name="InstRtId" type="InstRtId_Type" />
      <xsd:element minOccurs="0" name="InstEnv" type="InstEnv_Type" />
      <xsd:element minOccurs="0" name="AuthenUsrCred" type="AuthenUsrCred_CType" />
      <xsd:element minOccurs="0" name="AuthenProdCred" type="AuthenProdCred_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditUsrId_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">This is the User Id which the consumer would like
                written to the audit as performing the requested service. It will vary but could be
                down to the user id. It will not be use to authenticate however just audit.
            </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AuditWsId_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>This is the WorkStation Id which the consumer would like written to
                        the audit as performing the requested service. It will vary but could be
                        down to the user id. </ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ConsumerProd_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The name of the product which is consuming the service
                (Business Product Name) </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ConsumerRqDtTime_Type">
    <xsd:annotation>
      <xsd:documentation>A date/time stamp that the message request was
                made</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="jXLogTrackingId_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An identification provided by jXchange to be able to
                trace the request and response of a message from the third party gateway, internal
                gateway, and service provider </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="IMSSubj_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The IMS subject </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AliasClaimRec_CType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UniqueId" type="UniqueId_Type" />
      <xsd:element minOccurs="0" name="AppliesToApp" type="AppliesToApp_Type" />
      <xsd:element minOccurs="0" name="Alias" type="Alias_Type" />
      <xsd:element minOccurs="0" name="AliasDft" type="AliasDft_Type" />
      <xsd:element minOccurs="0" name="AliasDesc" type="Desc_Type" />
      <xsd:element minOccurs="0" name="AliasInstRtId" type="AliasInstRtId_Type" />
      <xsd:element minOccurs="0" name="AliasContext" type="AliasContext_Type" />
      <xsd:sequence minOccurs="0">
        <xsd:element name="Ver_1" type="Ver_1_CType" />
        <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="lax" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UniqueId_Type">
    <xsd:annotation>
      <xsd:documentation>A unique identifier (GUID) applied to claims
                packages</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AppliesToApp_Type">
    <xsd:annotation>
      <xsd:documentation>A change / modification being applied to an
                application</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:anyURI">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Alias_Type">
    <xsd:annotation>
      <xsd:documentation>The IMS named alias </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AliasDft_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Is the alias the default alias in IMS<Jx><CanonicalVal>true,false</CanonicalVal></Jx></xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ClosedEnum_Type">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Desc_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Generic Description</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
        <xsd:attribute name="Rstr" type="Rstr_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AliasInstRtId_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The identification of the institution related to the Alias. A
                        financial institution entity will utilize the routing transit or ABA nine
                        (9) digit number assigned to financial institutions for the purpose of
                        routing as assigned by the American Bankers Association. Any leading zeros
                        must be provided for a complete routing and transit number. A non-financial
                        institution entity will use a mutually agreed upon identification that must
                        contain at least one non-integer character.</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AliasContext_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The context value for the Alias</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="AliasAddResponse" type="AliasAddRs_MType" />
  <xsd:complexType name="AliasAddRs_MType">
    <xsd:annotation>
      <xsd:documentation>Add Alias Result.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESMsgRsHdr" type="JESMsgRsHdr_CType" />
      <xsd:element minOccurs="0" name="AliasClaimRec" nillable="true" type="AliasClaimRec_CType" />
      <xsd:element minOccurs="0" name="RsStat" nillable="true" type="RsStat_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JESMsgRsHdr_CType">
    <xsd:annotation>
      <xsd:documentation>Default message response headers for JHA enterprise
                services</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESHdr" type="JESHdr_CType" />
      <xsd:element minOccurs="0" name="MsgRecInfoArray" type="MsgRecInfoArray_AType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MsgRecInfoArray_AType">
    <xsd:annotation>
      <xsd:documentation>Array - of messages that can be returned in a response
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="MsgRec" type="MsgRec_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MsgRec_CType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Message Record includes the Error responses - Usually
                can occur multiple times</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ErrCode" type="ErrCode_Type" />
      <xsd:element name="ErrCat" type="ErrCat_Type" />
      <xsd:element name="ErrDesc" type="ErrDesc_Type" />
      <xsd:element minOccurs="0" name="ErrElem" type="ErrElem_Type" />
      <xsd:element minOccurs="0" name="ErrElemVal" type="ErrElemVal_Type" />
      <xsd:element minOccurs="0" name="ErrLoc" type="ErrLoc_Type" />
      <xsd:sequence minOccurs="0">
        <xsd:element name="Ver_1" type="Ver_1_CType" />
        <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="lax" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErrCode_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Error Code</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ErrCat_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Error Catagory</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ErrDesc_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Error Description</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ErrElem_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>When an Error or Fault occurs this optional element will contain the
                        element which is causing the error condition</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ErrElemVal_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>When an Error or Fault occurs this optional element will contain the
                        value of the element which is causing the error condition</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ErrLoc_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Error Location - This is typically the program that generated the
                        error condition</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RsStat_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Status of the response <Jx><CanonicalVal>Success,Fail</CanonicalVal></Jx></xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ClosedEnum_Type" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="AliasMod" type="AliasModRq_MType" />
  <xsd:complexType name="AliasModRq_MType">
    <xsd:annotation>
      <xsd:documentation>[APP to EXPSSO] Modify Alias Request: An alias is to be modified
                (updated) relating to a product and a user. Original Alias is replaced with the new
                supplied Alias.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESMsgRqHdr" type="JESMsgRqHdr_CType" />
      <xsd:element name="IMSSubj" type="IMSSubj_Type" />
      <xsd:element name="AliasClaimRec" type="AliasClaimRec_CType" />
      <xsd:element minOccurs="0" name="Dlt" nillable="true" type="Dlt_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dlt_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Delete - for delete entity <Jx><CanonicalVal>true,false</CanonicalVal></Jx></xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ClosedEnum_Type" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="AliasModResponse" type="AliasModRs_MType" />
  <xsd:complexType name="AliasModRs_MType">
    <xsd:annotation>
      <xsd:documentation>Modify Alias Result.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESMsgRsHdr" type="JESMsgRsHdr_CType" />
      <xsd:element minOccurs="0" name="RsStat" nillable="true" type="RsStat_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PswdChng" type="PswdChngRq_MType" />
  <xsd:complexType name="PswdChngRq_MType">
    <xsd:annotation>
      <xsd:documentation>[EXPSSO to JES to IMS] Password Change Request: A new password is
                sent along with the current credentials of the user.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESMsgRqHdr" type="JESMsgRqHdr_CType" />
      <xsd:element name="UsrCred" type="IMSEnc_CType">
        <xsd:annotation>
          <xsd:documentation>The content of this element is
                    UsrCred_CType</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UsrPswd" type="IMSEnc_CType">
        <xsd:annotation>
          <xsd:documentation>The contents of this encrypted element is
                    [UsrPswd_CType].</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IMSEnc_CType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Encrypted Data Type</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="xenc:EncryptedData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PswdChngResponse" type="PswdChngRs_MType" />
  <xsd:complexType name="PswdChngRs_MType">
    <xsd:annotation>
      <xsd:documentation>Password Change Result: Success or failure is
            returned.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESMsgRsHdr" type="JESMsgRsHdr_CType" />
      <xsd:element minOccurs="0" name="RsStat" nillable="true" type="RsStat_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DigCertifReplace" type="DigCertifReplaceRq_MType" />
  <xsd:complexType name="DigCertifReplaceRq_MType">
    <xsd:annotation>
      <xsd:documentation>Allow an application to announce / submit a new digital certificate </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESMsgRqHdr" type="JESMsgRqHdr_CType" />
      <xsd:element name="AppliesToApp" type="AppliesToApp_Type" />
      <xsd:element name="NewDigCertif" type="DigCertif_CType">
        <xsd:annotation>
          <xsd:documentation>The new public key / digital certificate to be updated in IMS</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DigCertif_CType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Digital Certificate </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="ds:X509Data" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DigCertifReplaceResponse" type="DigCertifReplaceRs_MType" />
  <xsd:complexType name="DigCertifReplaceRs_MType">
    <xsd:annotation>
      <xsd:documentation>Digital Certificate Change Result: Success or failure is
                returned.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESMsgRsHdr" type="JESMsgRsHdr_CType" />
      <xsd:element minOccurs="0" name="RsStat" nillable="true" type="RsStat_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UsrSrch" type="UsrSrchRq_MType" />
  <xsd:complexType name="UsrSrchRq_MType">
    <xsd:sequence>
      <xsd:element name="JESSrchMsgRqHdr" type="JESSrchMsgRqHdr_CType" />
      <xsd:element minOccurs="0" name="IMSOrgId" nillable="true" type="IMSOrgId_Type" />
      <xsd:element minOccurs="0" name="FirstName" nillable="true" type="FirstName_Type" />
      <xsd:element minOccurs="0" name="LastName" nillable="true" type="LastName_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JESSrchMsgRqHdr_CType">
    <xsd:annotation>
      <xsd:documentation>Default message request headers for JHA enterprise search
                services</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESHdr" type="JESHdr_CType" />
      <xsd:element name="MaxRec" type="MaxRec_Type" />
      <xsd:element minOccurs="0" name="Cursor" type="Cursor_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaxRec_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc> When returning multiple records, this is the maximum number of
                        records to be returned</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:int" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Cursor_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc> When returning multiple records and allowing a subsequent call to
                        retrieve more records this is the "state" information that allows the next
                        call to understand where it left off</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="IMSOrgId_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The identification assigned to an organization in IMS.
                An organization that is a financial institution entity should utilize the routing
                transit or ABA nine (9) digit number assigned to financial institutions for the
                purpose of routing as assigned by the American Bankers Association. Any leading
                zeros must be provided for a complete routing and transit number. A non-financial
                institution entity will use a mutually agreed upon identification that must contain
                at least one non-integer character. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FirstName_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>First Name</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
        <xsd:attribute name="SrchType" type="SrchType_Type" use="optional" />
        <xsd:attribute name="Rstr" type="Rstr_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SrchType_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The search type element used as an attribute for elements. The search
                        type conveys to the service provider the type of search expression for
                        search message filters</ElemDesc>
          <CanonicalVal>Exact,StartsWith,EndsWith,Contains,ContainsAll</CanonicalVal>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ClosedEnum_Type" />
  </xsd:simpleType>
  <xsd:complexType name="LastName_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Last Name</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
        <xsd:attribute name="SrchType" type="SrchType_Type" use="optional" />
        <xsd:attribute name="Rstr" type="Rstr_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="UsrSrchResponse" type="UsrSrchRs_MType" />
  <xsd:complexType name="UsrSrchRs_MType">
    <xsd:sequence>
      <xsd:element name="JESSrchMsgRsHdr" type="JESSrchMsgRsHdr_CType" />
      <xsd:element minOccurs="0" name="IMSOrgId" nillable="true" type="IMSOrgId_Type" />
      <xsd:element minOccurs="0" name="FirstName" nillable="true" type="FirstName_Type" />
      <xsd:element minOccurs="0" name="LastName" nillable="true" type="LastName_Type" />
      <xsd:element minOccurs="0" name="UsrSrchArray" nillable="true" type="UsrSrchArray_AType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JESSrchMsgRsHdr_CType">
    <xsd:annotation>
      <xsd:documentation>Default message response headers for JHA enterprise
                services</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="JESHdr" type="JESHdr_CType" />
      <xsd:element minOccurs="0" name="SentRec" type="SentRec_Type" />
      <xsd:element minOccurs="0" name="MoreRec" type="MoreRec_Type" />
      <xsd:element minOccurs="0" name="Cursor" type="Cursor_Type" />
      <xsd:element minOccurs="0" name="TotRec" type="TotRec_Type" />
      <xsd:element minOccurs="0" name="MsgRecInfoArray" type="MsgRecInfoArray_AType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SentRec_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc> Number of records sent in the response</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:int" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MoreRec_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Indicates if there are more records that could be returned<Jx><CanonicalVal>true,false</CanonicalVal></Jx></xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ClosedEnum_Type" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TotRec_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Indicates the total records the the request selected which could be
                        larger than MaxRec</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:int" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="UsrSrchArray_AType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An array of IMS users and their keys
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="UsrSrchRec" type="UsrSrchRec_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsrSrchRec_CType">
    <xsd:sequence>
      <xsd:element name="IMSSubj" type="IMSSubj_Type" />
      <xsd:element name="UsrDN" type="UsrDN_Type" />
      <xsd:element minOccurs="0" name="FirstName" type="FirstName_Type" />
      <xsd:element minOccurs="0" name="LastName" type="LastName_Type" />
      <xsd:element minOccurs="0" name="ComName" type="ComName_Type">
        <xsd:annotation>
          <xsd:documentation>Active directory field: displayname</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EmplTitle" type="EmplTitle_Type" />
      <xsd:element minOccurs="0" name="DeptDesc" type="DeptDesc_Type" />
      <xsd:element minOccurs="0" name="EmailAddr" type="EmailAddr_Type" />
      <xsd:element minOccurs="0" name="Desc" type="Desc_Type" />
      <xsd:element minOccurs="0" name="GroupDN" type="GroupDN_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsrDN_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The distinguished name of the
                identity</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ComName_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Common Name : This is the full text line name like : George Washington
                    </ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
        <xsd:attribute name="SrchType" type="SrchType_Type" use="optional" />
        <xsd:attribute name="Rstr" type="Rstr_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EmplTitle_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The title an employee holds in a corporation or
                business. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
        <xsd:attribute name="Rstr" type="Rstr_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DeptDesc_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The description of the Department Code This code is
                provided for bank use in assigning department responsibility for the
                loan.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EmailAddr_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>E-mail Address</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
        <xsd:attribute name="Rstr" type="Rstr_Type" use="optional" />
        <xsd:attribute name="SrchType" type="SrchType_Type" use="optional" />
        <xsd:attribute name="NotOccurType" type="NotOccurType_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="NotOccurType_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>This conveys to the service provider if the notification occurrence
                        should be withheld. true = withhold notification false, which is the default
                        = send notification</ElemDesc>
          <CanonicalVal>true,false</CanonicalVal>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ClosedEnum_Type" />
  </xsd:simpleType>
  <xsd:complexType name="GroupDN_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The distinguished name of the group</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="UsrInq" type="UsrInqRq_MType" />
  <xsd:complexType name="UsrInqRq_MType">
    <xsd:sequence>
      <xsd:element name="JESMsgRqHdr" type="JESMsgRqHdr_CType" />
      <xsd:element name="IMSSubj" type="IMSSubj_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UsrInqResponse" type="UsrInqRs_MType" />
  <xsd:complexType name="UsrInqRs_MType">
    <xsd:sequence>
      <xsd:element name="JESMsgRsHdr" type="JESMsgRsHdr_CType" />
      <xsd:element minOccurs="0" name="UsrInqRec" nillable="true" type="UsrInqRec_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsrInqRec_CType">
    <xsd:sequence>
      <xsd:element name="IMSSubj" type="IMSSubj_Type" />
      <xsd:element name="UsrDN" type="UsrDN_Type" />
      <xsd:element minOccurs="0" name="FirstName" type="FirstName_Type" />
      <xsd:element minOccurs="0" name="LastName" type="LastName_Type" />
      <xsd:element minOccurs="0" name="EmailAddr" type="EmailAddr_Type" />
      <xsd:element name="samlAssertion" type="samlAssertion_Type">
        <xsd:annotation>
          <xsd:documentation>This samlAssertion is not to be used for authentication or authorization purposes due to it not being
                    issued by an approved STS or signed by a trusted issuer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ComName" type="ComName_Type">
        <xsd:annotation>
          <xsd:documentation>Active directory field: displayname</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EmplTitle" type="EmplTitle_Type" />
      <xsd:element minOccurs="0" name="DeptDesc" type="DeptDesc_Type" />
      <xsd:element minOccurs="0" name="Desc" type="Desc_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="samlAssertion_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The SAML assertion that represents the
                identity</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="GroupMbrInq" type="GroupMbrInqRq_MType" />
  <xsd:complexType name="GroupMbrInqRq_MType">
    <xsd:sequence>
      <xsd:element name="JESMsgRqHdr" type="JESMsgRqHdr_CType" />
      <xsd:element minOccurs="0" name="ErrOvrRdInfoArray" nillable="true" type="ErrOvrRdInfoArray_AType" />
      <xsd:element name="GroupName" type="GroupName_Type" />
      <xsd:element minOccurs="0" name="GroupDN" nillable="true" type="GroupDN_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErrOvrRdInfoArray_AType">
    <xsd:annotation>
      <xsd:documentation>Array - of overrides for faults </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrOvrRd" type="ErrOvrRd_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErrOvrRd_CType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Error Code Override - Array of ErrCode
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ErrCode" type="ErrCode_Type" />
      <xsd:sequence minOccurs="0">
        <xsd:element name="Ver_1" type="Ver_1_CType" />
        <xsd:element minOccurs="0" name="BusSvcType" type="BusSvcType_Type" />
        <xsd:sequence minOccurs="0">
          <xsd:element name="Ver_2" type="Ver_2_CType" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="lax" />
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusSvcType_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>Business Service Type used to convey certain Add and Mod message handling</ElemDesc>
          <CanonicalVal>NoValidate</CanonicalVal>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ClosedEnum_Type">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
        <xsd:attribute name="Rstr" type="Rstr_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GroupName_Type">
    <xsd:annotation>
      <xsd:documentation>A name assigned to an IMS Group</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="GroupMbrInqResponse" type="GroupMbrInqRs_MType" />
  <xsd:complexType name="GroupMbrInqRs_MType">
    <xsd:sequence>
      <xsd:element name="JESMsgRsHdr" type="JESMsgRsHdr_CType" />
      <xsd:element minOccurs="0" name="GroupMbrInqArray" nillable="true" type="GroupMbrInqArray_AType" />
      <xsd:element minOccurs="0" name="GroupDN" nillable="true" type="GroupDN_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GroupMbrInqArray_AType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An array of Group Member names
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="GroupMbrInqRec" type="UsrSrchRec_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UsrMultiInq" type="UsrMultiInqRq_MType" />
  <xsd:complexType name="UsrMultiInqRq_MType">
    <xsd:sequence>
      <xsd:element name="JESMsgRqHdr" type="JESMsgRqHdr_CType" />
      <xsd:element name="UsrMultiInqRqArray" type="UsrMultiInqRqArray_AType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsrMultiInqRqArray_AType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An array of IMS Users for inquiry</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="UsrMultiInqRqRec" type="UsrMultiInqRqRec_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsrMultiInqRqRec_CType">
    <xsd:sequence>
      <xsd:element name="IMSSubj" type="IMSSubj_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UsrMultiInqResponse" type="UsrMultiInqRs_MType" />
  <xsd:complexType name="UsrMultiInqRs_MType">
    <xsd:sequence>
      <xsd:element name="JESMsgRsHdr" type="JESMsgRsHdr_CType" />
      <xsd:element minOccurs="0" name="UsrMultiInqRqArray" nillable="true" type="UsrMultiInqRqArray_AType" />
      <xsd:element minOccurs="0" name="UsrMultiInqArray" nillable="true" type="UsrMultiInqArray_AType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsrMultiInqArray_AType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An array of IMS Users</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="UsrInqRec" type="UsrInqRec_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="KerberosTokenInq" type="KerberosTokenInqRq_MType" />
  <xsd:complexType name="KerberosTokenInqRq_MType">
    <xsd:sequence>
      <xsd:element name="JESMsgRqHdr" type="JESMsgRqHdr_CType" />
      <xsd:element name="UsrPswd" type="IMSEnc_CType" />
      <xsd:element name="SvcPrincName" type="SvcPrincName_Type" />
      <xsd:element minOccurs="0" name="TokenTimeoutMin" nillable="true" type="TokenTimeoutMin_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SvcPrincName_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc> The service principal name to get a Kerberos security token for.
                    </ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TokenTimeoutMin_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"> The timeout value in minutes for the generated
                security token. Defaults to 60 minutes if not supplied. If supplied, must be a
                positive double value. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="JHANull" type="JHANull_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="KerberosTokenInqResponse" type="KerberosTokenInqRs_MType" />
  <xsd:complexType name="KerberosTokenInqRs_MType">
    <xsd:sequence>
      <xsd:element name="JESMsgRsHdr" type="JESMsgRsHdr_CType" />
      <xsd:element minOccurs="0" name="KerberosToken" nillable="true" type="UsrCred_CType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsrCred_CType">
    <xsd:annotation>
      <xsd:documentation>Authentication of the Consumer Product Credentials in the form of a
                WS Security Element that contains a single SAML V2.0 Assertion.
                http://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="wsse:Security" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UsrPswd_Ref" type="UsrPswd_CType" />
  <xsd:complexType name="UsrPswd_CType">
    <xsd:annotation>
      <xsd:documentation>Password</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Pswd" type="UsrPswd_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsrPswd_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The password for the user</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="MaskVal" type="MaskVal_Type" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MaskVal_Type">
    <xsd:annotation>
      <xsd:documentation>
        <Jx>
          <ElemDesc>The service providers masked value for a clear text element</ElemDesc>
        </Jx>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:element name="UsrCred_Ref" type="UsrCred_CType" />
  <xsd:element name="AliasClaimArray_Ref" type="AliasClaimRecArray_AType" />
  <xsd:complexType name="AliasClaimRecArray_AType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An array of alias claims </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AliasClaimRec" type="AliasClaimRec_CType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
